*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
.idea/modules/
.idea/vcs.xml
app/app-release.apk
app/libs/
app/src/main/res/drawable/
app/src/main/res/layout/
gen/
luckyMoney.datastore.jks
/.gitignore
