<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xzx.lunckymoney">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true">

        <service
                android:name="com.xzx.lunckymoney.MyAccessibility"
                android:enabled="true"
                android:exported="true"
                android:label="@string/app_name"
                android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
        <!--这个声明是对这个AccessibilityService的配置-->
            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/weixin_service_config"/>
        </service>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>